In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

missing_values =["--","na","N/A","n/a"," "]
movie_data = pd.read_csv("1000 movies data.csv",index_col='Rank',na_values=missing_values)

In [5]:
movie_data.shape

(1000, 12)

In [6]:
movie_data.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [39]:
movie_data.head()

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [27]:
print (movie_data.isnull().values.any())   # To check if our data has any missing value
print(movie_data.isnull().sum()) # If True, then check which column has missing data and how many records are missing

True
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64
Title                 False
Genre                 False
Description           False
Director              False
Actors                False
Year                  False
Runtime (Minutes)     False
Rating                False
Votes                 False
Revenue (Millions)     True
Metascore              True
dtype: bool

In [40]:
df = movie_data.isnull().sum()
df[df>0]

Revenue (Millions)    128
Metascore              64
dtype: int64

In [47]:
movie_data.groupby(["Genre"]).mean()

,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Genre,,,,,,
Action,2016.000000,88.000000,6.150000,8.618500e+03,131.560000,37.000000
"Action,Adventure",2011.000000,124.333333,6.400000,3.344590e+05,223.740000,57.333333
"Action,Adventure,Biography",2015.500000,131.500000,7.000000,4.878000e+04,16.500000,62.500000
"Action,Adventure,Comedy",2014.214286,109.642857,6.592857,1.935024e+05,95.733571,47.214286
"Action,Adventure,Crime",2012.333333,116.500000,6.433333,2.003228e+05,90.620000,48.333333
"Action,Adventure,Drama",2013.222222,124.166667,6.544444,1.564516e+05,77.321667,53.411765
"Action,Adventure,Family",2013.750000,105.500000,5.575000,1.371575e+05,112.866667,39.500000
"Action,Adventure,Fantasy",2011.740741,118.148148,6.329630,2.895130e+05,201.857308,50.000000
"Action,Adventure,Horror",2011.500000,106.500000,6.450000,3.178595e+05,131.240000,50.000000
"Action,Adventure,Mystery",2013.200000,128.600000,6.660000,2.925228e+05,150.344000,53.400000
"Action,Adventure,Romance",2012.000000,117.500000,5.850000,9.459050e+04,23.470000,35.000000
"Action,Adventure,Sci-Fi",2012.460000,127.360000,6.724000,3.716415e+05,209.230200,55.120000
"Action,Adventure,Thriller",2010.545455,126.363636,7.027273,3.304948e+05,158.123636,63.000000
"Action,Adventure,Western",2014.500000,141.000000,6.700000,1.568540e+05,91.335000,54.000000
"Action,Biography,Crime",2008.000000,92.000000,7.100000,9.397200e+04,0.100000,NaN
"Action,Biography,Drama",2014.250000,125.875000,7.112500,1.613116e+05,100.652857,66.833333
"Action,Comedy",2012.333333,106.666667,6.366667,1.688230e+05,58.790000,56.333333
"Action,Comedy,Crime",2013.250000,108.166667,6.825000,1.898780e+05,92.410833,61.333333
"Action,Comedy,Drama",2016.000000,109.000000,6.400000,8.612000e+03,2.870000,70.000000
"Action,Comedy,Family",2015.000000,105.000000,5.600000,1.010920e+05,78.750000,27.000000
"Action,Comedy,Fantasy",2013.333333,110.666667,6.133333,1.610950e+05,55.873333,53.000000
"Action,Comedy,Horror",2011.000000,99.000000,6.700000,1.031020e+05,3.640000,43.500000
"Action,Comedy,Mystery",2007.000000,121.000000,7.900000,3.732440e+05,23.620000,81.000000
"Action,Comedy,Romance",2013.500000,99.000000,6.300000,9.222650e+04,27.395000,41.500000
"Action,Comedy,Sci-Fi",2013.000000,109.000000,7.000000,1.998130e+05,26.000000,81.000000
"Action,Comedy,Sport",2006.000000,108.000000,6.600000,1.375020e+05,148.210000,66.000000
"Action,Crime,Drama",2013.470588,113.117647,6.764706,2.447864e+05,84.131250,52.352941
"Action,Crime,Fantasy",2008.000000,110.000000,6.700000,3.124950e+05,134.570000,64.000000
"Action,Crime,Mystery",2011.666667,115.000000,6.700000,2.315427e+05,67.370000,54.666667
"Action,Crime,Sci-Fi",2014.000000,117.000000,6.200000,1.908330e+05,58.610000,52.000000
...,...,...,...,...,...,...
"Drama,Romance,Sci-Fi",2014.000000,107.500000,6.975000,1.467405e+05,17.752500,59.250000
"Drama,Romance,Thriller",2014.333333,115.333333,5.966667,1.197710e+05,118.750000,37.666667
"Drama,Romance,War",2014.000000,107.000000,6.900000,1.371100e+04,NaN,NaN
"Drama,Sci-Fi",2009.000000,134.000000,7.400000,2.489220e+05,18.620000,53.000000
"Drama,Sci-Fi,Thriller",2012.250000,101.250000,6.975000,2.561015e+05,103.126667,79.750000
"Drama,Sport",2013.600000,112.800000,7.000000,1.033026e+05,77.466667,66.500000
"Drama,Thriller",2013.066667,114.466667,7.060000,1.221857e+05,27.637500,67.200000
"Drama,Thriller,War",2015.000000,102.000000,7.300000,5.782600e+04,18.700000,73.000000
"Drama,War",2013.000000,106.666667,6.933333,6.606667e+04,5.375000,59.666667
"Drama,Western",2012.000000,165.000000,8.400000,1.039115e+06,162.800000,81.000000
"Fantasy,Horror",2010.000000,97.500000,6.650000,1.770930e+05,63.110000,60.500000
"Fantasy,Horror,Thriller",2016.000000,133.000000,3.200000,1.730000e+02,NaN,57.000000
"Fantasy,Mystery,Thriller",2009.000000,99.000000,6.900000,7.253300e+04,NaN,66.000000
Horror,2011.090909,94.545455,5.445455,9.224618e+04,37.052857,57.000000
"Horror,Mystery",2012.166667,102.500000,6.550000,1.101705e+05,25.635000,65.000000
"Horror,Mystery,Sci-Fi",2016.000000,90.000000,5.800000,9.247000e+03,0.150000,62.000000
"Horror,Mystery,Thriller",2012.444444,104.888889,6.477778,1.288277e+05,72.570000,52.555556
"Horror,Sci-Fi,Thriller",2015.000000,93.000000,5.433333,5.969233e+04,34.165000,41.333333
"Horror,Thriller",2015.125000,95.562500,5.643750,3.940781e+04,34.040833,53.400000
"Mystery,Romance,Sci-Fi",2011.000000,93.000000,7.500000,4.048840e+05,54.700000,74.000000
"Mystery,Romance,Thriller",2014.000000,108.000000,6.300000,3.880400e+04,5.980000,24.000000
"Mystery,Sci-Fi,Thriller",2011.666667,102.000000,7.233333,2.698650e+05,68.763333,65.333333
"Mystery,Thriller",2012.142857,116.142857,6.685714,2.252070e+05,73.533333,56.428571
"Mystery,Thriller,Western",2016.000000,148.000000,7.100000,1.300400e+04,NaN,44.000000
"Romance,Sci-Fi",2016.000000,118.000000,6.100000,5.120000e+02,NaN,65.000000
"Romance,Sci-Fi,Thriller",2011.000000,106.000000,7.100000,2.086320e+05,62.450000,NaN
Sci-Fi,2016.000000,106.500000,4.950000,7.265000e+02,20.760000,53.000000
"Sci-Fi,Thriller",2008.000000,91.000000,5.000000,1.708970e+05,64.510000,34.000000
Thriller,2014.777778,95.222222,5.955556,3.396022e+04,0.320000,59.714286
"Thriller,War",2016.000000,106.000000,6.000000,5.926000e+03,NaN,40.000000

In [79]:
Genre_data = pd.DataFrame(movie_data.Genre.str.split(',').tolist(),index=movie_data.index)
print(Genre_data[0].unique())
print(Genre_data[1].unique())
print(Genre_data[2].unique())
Genre_uniq = Genre_data.stack().unique()
Genre_uniq.shape

['Action' 'Adventure' 'Horror' 'Animation' 'Comedy' 'Biography' 'Drama'
 'Crime' 'Romance' 'Mystery' 'Thriller' 'Sci-Fi' 'Fantasy']
['Adventure' 'Mystery' 'Thriller' 'Comedy' 'Drama' None 'Family' 'Horror'
 'Crime' 'Romance' 'History' 'Fantasy' 'Sci-Fi' 'Biography' 'Music'
 'Western' 'War' 'Musical' 'Sport' 'Action']
['Sci-Fi' None 'Family' 'Fantasy' 'Music' 'Biography' 'Romance' 'History'
 'Comedy' 'Drama' 'Thriller' 'Horror' 'Western' 'Mystery' 'War' 'Crime'
 'Musical' 'Sport' 'Adventure']

(20,)

In [60]:
Genre_data

              0          1          2
Rank
1        Action  Adventure     Sci-Fi
2     Adventure    Mystery     Sci-Fi
3        Horror   Thriller       None
4     Animation     Comedy     Family
5        Action  Adventure    Fantasy
6        Action  Adventure    Fantasy
7        Comedy      Drama      Music
8        Comedy       None       None
9        Action  Adventure  Biography
10    Adventure      Drama    Romance
11    Adventure     Family    Fantasy
12    Biography      Drama    History
13       Action  Adventure     Sci-Fi
14    Animation  Adventure     Comedy
15       Action     Comedy      Drama
16    Animation  Adventure     Comedy
17    Biography      Drama    History
18       Action   Thriller       None
19    Biography      Drama       None
20        Drama    Mystery     Sci-Fi
21    Adventure      Drama   Thriller
22        Drama       None       None
23        Crime      Drama     Horror
24    Animation  Adventure     Comedy
25       Action  Adventure     Sci-Fi
26       Comedy       None       None
27       Action  Adventure      Drama
28       Horror   Thriller       None
29       Comedy       None       None
30       Action  Adventure      Drama
...         ...        ...        ...
971      Horror   Thriller       None
972       Drama    Mystery   Thriller
973      Comedy      Drama    Musical
974      Horror    Mystery       None
975   Biography      Drama      Sport
976      Comedy     Family    Romance
977       Drama    Mystery   Thriller
978      Comedy       None       None
979       Drama       None       None
980       Drama   Thriller       None
981   Biography      Drama     Family
982      Comedy      Drama     Family
983       Drama    Fantasy    Musical
984      Comedy       None       None
985   Adventure     Family       None
986   Adventure     Comedy    Fantasy
987      Horror   Thriller       None
988       Drama    Romance       None
989      Horror       None       None
990   Biography      Drama    History
991      Action  Adventure    Fantasy
992       Drama     Family      Music
993      Comedy      Drama    Romance
994      Action  Adventure     Horror
995      Comedy       None       None
996       Crime      Drama    Mystery
997      Horror       None       None
998       Drama      Music    Romance
999   Adventure     Comedy       None
1000     Comedy     Family    Fantasy

[1000 rows x 3 columns]

In [61]:
Actor_data = pd.DataFrame(movie_data.Actors.str.split(',').tolist(),index = movie_data.index)
Actor_data

,0,1,2,3
Rank,,,,
1,Chris Pratt,Vin Diesel,Bradley Cooper,Zoe Saldana
2,Noomi Rapace,Logan Marshall-Green,Michael Fassbender,Charlize Theron
3,James McAvoy,Anya Taylor-Joy,Haley Lu Richardson,Jessica Sula
4,Matthew McConaughey,Reese Witherspoon,Seth MacFarlane,Scarlett Johansson
5,Will Smith,Jared Leto,Margot Robbie,Viola Davis
6,Matt Damon,Tian Jing,Willem Dafoe,Andy Lau
7,Ryan Gosling,Emma Stone,Rosemarie DeWitt,J.K. Simmons
8,Essie Davis,Andrea Riseborough,Julian Barratt,Kenneth Branagh
9,Charlie Hunnam,Robert Pattinson,Sienna Miller,Tom Holland
10,Jennifer Lawrence,Chris Pratt,Michael Sheen,Laurence Fishburne
11,Eddie Redmayne,Katherine Waterston,Alison Sudol,Dan Fogler
12,Taraji P. Henson,Octavia Spencer,Janelle MonÃ¡e,Kevin Costner
13,Felicity Jones,Diego Luna,Alan Tudyk,Donnie Yen
14,Auli'i Cravalho,Dwayne Johnson,Rachel House,Temuera Morrison
15,Anne Hathaway,Jason Sudeikis,Austin Stowell,Tim Blake Nelson
16,Louis C.K.,Eric Stonestreet,Kevin Hart,Lake Bell
17,Andrew Garfield,Sam Worthington,Luke Bracey,Teresa Palmer
18,Matt Damon,Tommy Lee Jones,Alicia Vikander,Vincent Cassel
19,Dev Patel,Nicole Kidman,Rooney Mara,Sunny Pawar
20,Amy Adams,Jeremy Renner,Forest Whitaker,Michael Stuhlbarg
21,Matthew McConaughey,Edgar RamÃ­rez,Bryce Dallas Howard,Corey Stoll
22,Casey Affleck,Michelle Williams,Kyle Chandler,Lucas Hedges
23,Emma Booth,Ashleigh Cummings,Stephen Curry,Susie Porter
24,Anna Kendrick,Justin Timberlake,Zooey Deschanel,Christopher Mintz-Plasse
25,Liam Hemsworth,Jeff Goldblum,Bill Pullman,Maika Monroe
26,Fiona Gordon,Dominique Abel,Emmanuelle Riva,Pierre Richard
27,Prabhas,Rana Daggubati,Anushka Shetty,Tamannaah Bhatia
28,Jocelin Donahue,Jesse Bradford,Jesse Borrego,Lori Petty
29,Mila Kunis,Kathryn Hahn,Kristen Bell,Christina Applegate
30,Michael Fassbender,Marion Cotillard,Jeremy Irons,Brendan Gleeson
...,...,...,...,...
971,Alexandra Daddario,Tania Raymonde,Scott Eastwood,Trey Songz
972,Shia LaBeouf,David Morse,Carrie-Anne Moss,Sarah Roemer
973,Julianne Hough,Diego Boneta,Tom Cruise,Alec Baldwin
974,Neve Campbell,Courteney Cox,David Arquette,Lucy Hale
975,Madina Nalwanga,David Oyelowo,Lupita Nyong'o,Martin Kabanza
976,Nia Vardalos,John Corbett,Michael Constantine,Lainie Kazan
977,Charlize Theron,Nicholas Hoult,Christina Hendricks,ChloÃ« Grace Moretz
978,Jason Biggs,Janet Montgomery,Ashley Tisdale,Bria L. Murphy
979,Nathalie Baye,Vincent Cassel,Marion Cotillard,LÃ©a Seydoux
980,Antonio Banderas,Elena Anaya,Jan Cornet,Marisa Paredes
981,Jennifer Garner,Kylie Rogers,Martin Henderson,Brighton Sharbino
982,QuvenzhanÃ© Wallis,Cameron Diaz,Jamie Foxx,Rose Byrne
983,Evan Rachel Wood,Jim Sturgess,Joe Anderson,Dana Fuchs
984,Jake Johnson,Damon Wayans Jr.,Rob Riggle,Nina Dobrev
985,Thomas Haden Church,Josh Wiggins,Luke Kleintank,Lauren Graham
986,Danny McBride,Natalie Portman,James Franco,Rasmus Hardiker
987,Nicholas D'Agosto,Emma Bell,Arlen Escarpeta,Miles Fisher
988,Gabriella Wilde,Alex Pettyfer,Bruce Greenwood,Robert Patrick
989,Morjana Alaoui,MylÃ¨ne JampanoÃ¯,Catherine BÃ©gin,Robert Toupin
990,David Oyelowo,Carmen Ejogo,Tim Roth,Lorraine Toussaint
991,Rhona Mitra,Michael Sheen,Bill Nighy,Steven Mackintosh
992,Darsheel Safary,Aamir Khan,Tanay Chheda,Sachet Engineer
993,Topher Grace,Anna Faris,Dan Fogler,Teresa Palmer
994,Milla Jovovich,Ali Larter,Wentworth Miller,Kim Coates
995,Thomas Mann,Oliver Cooper,Jonathan Daniel Brown,Dax Flame
996,Chiwetel Ejiofor,Nicole Kidman,Julia Roberts,Dean Norris
997,Lauren German,Heather Matarazzo,Bijou Phillips,Roger Bart
998,Robert Hoffman,Briana Evigan,Cassie Ventura,Adam G. Sevani
999,Adam Pally,T.J. Miller,Thomas Middleditch,Shannon Woodward
1000,Kevin Spacey,Jennifer Garner,Robbie Amell,Cheryl Hines